body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.todo-container {
    width: 500px;
    margin: 80px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#addButton {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#taskList {
    padding: 0;
    margin-top: 25px;
}

#taskList li {
    list-style: none;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#taskList li.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}